#root, body {
    margin: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 40vw;
    padding: 1em;
}

label {
    display: flex;
    justify-content: space-between;
    margin: 0.7em;
    width: 20vw;
    font-size: 1.2em;
}

input {
    width: 10vw;
}

button[type="submit"] {
    padding: 8px;
    font-size: 1em;
    background-color: rgb(51, 51, 238);
    color: white;
    border: none;
    border-radius: 3px;
    width: 20vw;
    transition: 50ms ease-in-out;
}

button[type="submit"]:hover {
    background-color: rgb(112, 112, 247);
}

button[type="submit"]:active {
    background-color: blue;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    border: 2px solid black;
    height: fit-content;
    width: 15vw;
    margin: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}